.sumpTableContainer {
  top: 0;
  display: inline-block;
  container-name: sumpContainer;
  container-type: inline-size;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  max-width: 100%;
  min-width: 400px;
  border: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sumpTableContainer::-webkit-scrollbar {
    display: none;
}

.sumpTable {
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  background-color: var(--menu-background);
  color: var(--menu-colour);
}
@container sumpContainer (max-width:844px) {
  .sumpTable {
    --sumpTable__header-font: 5cqw;
    --sumpTable__data-font: 4cqw;
    --sumpTable__header-smallFont: 3cqw;
    --sumpTable__header-height: 16vw;
    --sumpTable__headerRow-height: 6vw; 
  }
  
}
.sumpTableHeader { 
  top: var(--controlBar-height);
  z-index: 10;
  border-radius: 0;
  height: var(--sumpTable__header-height);
}

.sumpTableCell {
  font-family: monospace;
  font-size: var(--sumpTable__data-font);
}

.sumpTableCell {
  display: table-cell;
  letter-spacing: 1px;
  padding: 0px;
  text-align: center;
  white-space: normal;
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: anywhere;
}
 
.sumpTableRow:nth-child(odd) {
  background-color: var(--sumpTable__header-backgroundColour); 
}


[class^="sumpTableHeaderCellRow"], [class^="sumpTableHeaderCell1Row"], [class^="sumpTableHeaderCell2Row"] {
  position: sticky;
  z-index: 10;
  height: var(--sumpTable__headerRow-height);
  font-size: var(--sumpTable__header-font);
  background-color: var(--sumpTable__header-backgroundColour);
  color: var(--sumpTable__header-colour);
}

[class^="sumpTableHeaderCell1Row"] {
  border-radius: 0;
  text-transform: uppercase;
  font-size: var(--sumpTable__header-smallFont);
}
.sumpTableHeaderCellRow1, .sumpTableHeaderCell1Row1, .sumpTableHeaderCell2Row1 {
  top: var(--controlBar-height);
}
.sumpTableHeaderCell1Row1 {
  font-size: var(--sumpTable__header-smallFont);
} 
.sumpTableHeaderCellRow2, .sumpTableHeaderCell1Row2, .sumpTableHeaderCell2Row2  {
  top: calc( var(--sumpTable__headerRow-height) + var(--controlBar-height));
}
.sumpTableHeaderCellRow3, .sumpTableHeaderCell1Row3, .sumpTableHeaderCell2Row3  {
  top: calc( 2 * var(--sumpTable__headerRow-height) + var(--controlBar-height));
}
.sumpTableHeaderCellRow4, .sumpTableHeaderCell1Row4, .sumpTableHeaderCell2Row4  {
  top: calc( 3 * var(--sumpTable__headerRow-height) + var(--controlBar-height));
}

.sumpTable .sumpTableCell {
  word-spacing: normal; 
  width: auto;          
  display: table-cell;
}

.sumpTableHeaderCell2Row1, 
[class^="sumpTableHeaderCell1Row"] {    
  width: 16.66% !important; 
  padding: 1px;            
  text-align: center; 
}

.sumpTable td:not(:first-child) {
  width: auto;
}

.sumpTableCell1, 
.sumpTableCell2,
[class^="sumpTableHeaderCell1Row"],
[class^="sumpTableHeaderCell2Row"] {
  font-size: var(--sumpTable__header-smallFont);
  width: 16.66%; /* (100% / 6 columns) ensures they are all identical */
}

 .sumpTableHeaderCell2Row1, .sumpTableHeaderCellRow1 {
  font-size: var(--sumpTable__header-smallFont);
 }

.sumpTableCell2{
  font-size: var(--sumpTable__data-font);
}
.sumpTableCell2 {
  font-size: var(--sumpTable__data-font);
  width: 16.66%;
  text-align: center;
}
.sumpTablePlaceholder{
  height: var(--sumpTable__header-height);
}


