# --- Database ---'
DB_HOST=xxxxxxxxxxxx
DB_NAME=xxxxxxxxxx
SUMP_DB_USER=xxxxxxxxx
SUMP_DB_PASS=xxxxxxxxxx
DB_ROOT_PASSWORD=xxxxxxxxxxxxxx
DB_HOST_PORT=xxxxx
DB_DOCKER_PORT=xxxxx

# --- API & Frontend ---
# Flask
API_PORT=xxxxx
SUMP_API_PORT=xxxxx
BIND_HOST=x.x.x.x
COLLECTOR_PORT=xxxxx

# --- React  ---
REACT_APP_SUMP_API_URL=http://xxxxxxxxx:xxxxx

# --- Cl1p ---
LOCATION="xxxxxxxxxxxx"
CL1P_TOKEN=xxxxxxxxxxxxxxxxxx
CL1P_URL=https://api.cl1p.net/xxxxxxxxxxxxxxxx